.header {
  padding-top: 2rem;
}

.hero {
  min-height: 30vh;
  background-color: #f3eed9;
  display: grid;
  place-items: center;
  text-align: center;
}

.logo {
  width: 100%;
  height: auto;
}

.container {
  width: 95%;
  max-width: 800px;
  margin: 0 auto;
}

.main img {
  /* clip-path: circle(); */
  background-size: cover;
  margin-bottom: 0.25rem;
  width: 200px;
  height: 200px;
}

.list {
  margin: 1rem 0;
  text-align: center;
}

.main h2 {
  font-size: 1rem;
}
